body {
    width: revert;
    padding-bottom: 50px;
    min-height: 101vh; 
    margin-top:50px;
}
input:hover, label:hover {cursor: pointer;}
#main-content-body p,
#main-content-body-date p {
    white-space: pre-line;
    margin: 0;
}
#main-content-body,
#main-content-body-date {
    gap: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1074px;
}
.piece-container {
    width: 350px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.piece-container img {
    width: 100%;
}
.music,
.games {
    border: 1px solid #4d4d4d;
    margin-bottom: 10px;
}
.music img,
.games img {
    border: revert;
    border-bottom: 1px solid #4d4d4d;
}
.content-column {
    width: 350px;
    display: flex;
    flex-direction: column;
}
#nav {
    margin: 0;
    padding: 0;
}
label {
    position: relative;
    top: -2px;
}
audio {
    position: relative;
    padding: 3px 0;
    left: 30px;
    height: 26px;
}
audio::-webkit-media-controls-panel {
    background-color: white;
}
#header {
    max-width: 1069px;
    margin: auto;
    margin-bottom: 12px;
}

#nav-wrapper h1, #nav-wrapper ul {
    display: inline-block;
    vertical-align: middle; /* Aligns the middle of the elements */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}

#nav li {
    display: inline;
    padding: 0 3.5px;
}
