body {
    width:600px; 
    margin:auto; 
    margin-top:50px;
    color:#4d4d4d;
    font-family: "Comic Sans MS", "Comic Sans";
}

p {white-space: pre-wrap;line-height:1.45;}
details {line-height:1.45;}
li {padding: 2px 0;}

img {border:1px solid #4d4d4d;}
.blog-img{width:100%;margin-top:20px;}
.music-img {height: 300px;}