body {
    max-width: 1074px;
    margin: auto; 
    font-family: sans-serif;
    margin-bottom: 70px;
    font-size: 16px;
}
p {white-space: pre-wrap;line-height:1.45;}
img {border:1px solid black;}

a {
    color: #444;
}

::selection {
    color:white;
    background: #333;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}